{%extends "base.html"%}
{%block head%}

    <title>Überblick Fahrraddiebstähle</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
{%endblock%}

{%block content%}
    {{table}}
{%endblock%}

{%block script%}

<script>
    let table = $('table')
    table.DataTable();
</script>

{%endblock%}